.header-container {
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    flex-wrap: wrap;
}


.logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: 1px solid black; */
    cursor: default;
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid black; */
  width: 30%;
  margin: auto;
  padding-right: 350px;
  justify-content: space-around;
  font-family: 'IM Fell DW Pica', serif;
}


a {
    text-decoration: none;
    color: #36356A;
    font-size: 20px;
}


/* Main content css */


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
/*     border: 1px solid black; */
  padding: 50px;
  background-color: #f8ebe5;
}

.column {
  flex: 25%;
  max-width: 20%;
  padding: 0 4px;
}

.column img {
  margin-bottom: 8px;
  vertical-align: top;
  width: 100%;
}


img {
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s;
}

#img-1:hover {opacity: 0.7;}
#img-2:hover {opacity: 0.7;}
#img-3:hover {opacity: 0.7;}
#img-4:hover {opacity: 0.7;}
#img-5:hover {opacity: 0.7;}
#img-6:hover {opacity: 0.7;}
#img-7:hover {opacity: 0.7;}
#img-8:hover {opacity: 0.7;}
#img-9:hover {opacity: 0.7;}
#img-10:hover {opacity: 0.7;}
#img-11:hover {opacity: 0.7;}
#img-12:hover {opacity: 0.7;}
#img-13:hover {opacity: 0.7;}
#img-14:hover {opacity: 0.7;}

/* The Modal background */
#myModal {
  display: none; 
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}



/* Modal Content (image) */
.main-modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 600px;
  justify-content: center;
  align-items: center;
}



/* Animation */
.main-modal-content{  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 75px;
  right: 150px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

@media screen and (max-width: 700px) {
  .close {
    position: absolute;
    right: 2em;
    top: 3em;
  }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (min-width: 500px){
.modal-content {
    width: 100%;
  }
}
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }


  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }



  /* About Me Modal */

  .about-me-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 600ms ease-in-out;
    z-index: 1;
    background-color: #fefae0;
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  


  .about-me-modal.active {
    transform: translate(-50%, -50%) scale(1);
  }


  @media screen and (max-width: 600px) {
  .about-me-modal {
    width: 350px;
    height: 850px;
      
    }
  }

  @media screen and (max-width: 600px) {
  .headshot {
    width: 200px;
    height: 300px;
    justify-content: center;
    align-items: center;
    
    }
  }
 


  @media screen and (max-width: 600px) {
    p, .about-me-modal-content {
      /* display: none; */
      padding: 0;
      margin: 0;
      font-size: 20px;
      overflow: scroll;
      }
  }


  @media screen and (max-width: 600px) {
    .about-me-modal-body {
      flex-direction: row;
      width: 50%;
      height: auto;
      font-size: 16px;
    }
  }
  
  .headshot {
    float: left;
    margin: 10px;
    
  }
  
  .about-me-modal-content {
    font-size: 30px;
    font-family: 'IM Fell DW Pica', serif;
    color: #B08968;
    margin: 20px;
    padding: 50px;
    line-height: 27px;
  }
  
  .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    color: #7F5539;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  
  .about-me-modal-body {
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }
  
  
  .about-me-button {
    background-color: white;
    border: none;
    border-radius: 20px;
    color: #7F5539;
    font-family: 'IM Fell DW Pica', serif;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .about-me-button:hover {
    background-color: #B08968;
    color: white;
  }
  
  .contact-me {
    background-color: white;
    border: none;
    border-radius: 20px;
    color: #7F5539;
    font-family: 'IM Fell DW Pica', serif;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .contact-me:hover {
    background-color: #B08968;
    color: white;
  }
  
  /* footer  */

  .footer-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: white;    
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;    
}

.copyright {
  color: #B08968;
  font-family: 'IM Fell DW Pica', serif;
  font-size: 18px;
  width: 200px;
  text-align: right;
  margin-left: auto;
  padding: 5px;
}


  /* Responsive CSS */

  @media screen and (max-width: 600px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }


  @media (max-width: 800px){
  .footer-container {
    flex-wrap: wrap;
    flex: 100%;
    width: 100%;
    }
  }


