header {
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (min-width: 500px) and (max-width: 850px) {
  header{
    max-width: 100%;
  }
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: 1px solid black; */
    cursor: default;
}

.nav-bar {
  display: flex;
  /* border: 1px solid black; */
  width: 30%;
  margin: auto;
  padding-right: 350px;
  justify-content: space-around;
  font-family: 'IM Fell DW Pica', serif;


}

a {
    text-decoration: none;
    color: #36356A;
    font-size: 20px;
}


/* Main content css */


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
/*     border: 1px solid black; */
  padding: 50px;
  background-color: #f8ebe5;
 ;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 20%;
  padding: 0 4px;
}

.column img {
  margin-bottom: 8px;
  vertical-align: top;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

img {
border-radius: 2px;
cursor: pointer;
transition: 0.3s;
}

#img-1:hover {opacity: 0.7;}

/* The Modal (background) */
#myModal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.main-modal-content {
margin: auto;
display: block;
width: 80%;
max-width: 600px;
justify-content: center;
align-items: center;
}



/* Add Animation */
.main-modal-content{  
-webkit-animation-name: zoom;
-webkit-animation-duration: 0.6s;
animation-name: zoom;
animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
from {-webkit-transform:scale(0)} 
to {-webkit-transform:scale(1)}
}

@keyframes zoom {
from {transform:scale(0)} 
to {transform:scale(1)}
}

/* The Close Button */
.close {
position: absolute;
top: 150px;
right: 150px;
color: #f1f1f1;
font-size: 40px;
font-weight: bold;
transition: 0.3s;
}

.close:hover,
.close:focus {
color: #bbb;
text-decoration: none;
cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
.modal-content {
  width: 100%;
}
}
  
  @keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
  }

  
  
  /* The Close Button */
  .close {
  position: absolute;
  top: 150px;
  right: 150px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
  }


  /* About Me Modal */

  .about-me-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 600ms ease-in-out;
    z-index: 1;
  background-color: #fefae0;
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  
  .about-me-modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  
  .headshot {
    float: left;
    margin: 10px;
    
  }
  
  .about-me-modal-content {
    font-size: 30px;
    font-family: 'IM Fell DW Pica', serif;
    color: #B08968;
    margin: 20px;
    padding: 50px;
    line-height: 27px;
  }
  
  .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    color: #7F5539;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    top: 2px;
    right: 2px;
  }
  
  .about-me-modal-body {
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }
  
  
  .about-me-button {
    background-color: white;
    border: none;
    border-radius: 20px;
    color: #7F5539;
    font-family: 'IM Fell DW Pica', serif;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .about-me-button:hover {
    background-color: #B08968;
    color: white;
  }
  
  .contact-me {
    background-color: white;
    border: none;
    border-radius: 20px;
    color: #7F5539;
    font-family: 'IM Fell DW Pica', serif;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .contact-me:hover {
    background-color: #B08968;
    color: white;
  }
  
  /* footer  */

  .footer-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: white;
    
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    
}

.copyright {
  color: #B08968;
  font-family: 'IM Fell DW Pica', serif;
  font-size: 18px;
  width: 200px;
  text-align: right;
  margin-left: auto;
  padding: 5px;
}


  
